/* .btn-warning{
    background-color: red;
}
.btn-warning:hover{
    background-color: black;
}
 */
.navbar navbar-expand-lg navbar-light bg-light:hover{
    background-color:#65f741;
}
.col{
    background-color: gray;
    border: 2px solid black;
}
img{
   width:100%;
   height:100%;
}
